<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Kool Healthy PFE</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Needs','Value'],
          ['Calories',     20],
          ['Protein',      50],
          ['Fats',  10],
          ['Carbs', 30],
        ]);

        var options = {
          title: ''
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    

</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="home">
					<img src="images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="home">Accueil</a></li>
						<li class="nav-item active"><a class="nav-link" href="CalculateMyNeeds">Calculer Mes Besoins</a></li>
						<li class="nav-item"><a class="nav-link" href="PreparedMeals">Repas Préparés</a></li>
						<li class="nav-item"><a class="nav-link" href="Articles">Articles</a></li>
						<li class="nav-item"><a class="nav-link" href="Profile">Profil</a></li>
						<li class="nav-item"><a class="nav-link" href="Contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Calculer Mes Besoins</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Vos Besoins</h2>
						<p>Vous trouverez ici vos besoins en fonction de vos données (Taille / Poids / Sexe / Niveau d'activité / Objectif)</p>
					</div>
				</div>
			</div>
			<div class="about-section-box">
				<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 text-center">
						<div class="inner-column">
							<h1>Vos <span>Besoins</span></h1>
							<h4>Calories : <span> 250.0 Kcal</span></h4>
							<h4>Protéines : <span> 50g</span></h4>
							<h4>Graisses : <span> 250.0 Kcal</span></h4>
							<h4>Glucides : <span> 250.0 Kcal</span></h4>
							<div id="piechart" style="width: 600px; height: 400px;"></div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<img src="images/bodies.jpg" alt="" class="img-fluid">
					</div>
				</div>
				<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Préparer Mon Repas</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Menu -->
	
	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p class="lead ">
						" Si vous n'êtes pas celui qui cuisine, restez à l'écart et félicitez le chef. "
					</p>
					<span class="lead">Michael Strahan</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->
	
	<!-- Start Customer Reviews -->
	<div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Avis des clients</h2>
						<p>Découvrez ce que les clients ont à dire sur notre service</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4">
							<div class="carousel-item text-center active">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="images/quotations-button.png" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Assil Bouzouita</strong></h5>
								<h6 class="text-dark m-0">Étudiant</h6>
								<p class="m-0 pt-3">L'un des meilleurs repas que j'ai eu, bien préparé et bien livré. <br>Merci Kool Healthy</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="images/quotations-button.png" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Oussama Zayati</strong></h5>
								<h6 class="text-dark m-0">Ingénieur Informatique</h6>
								<p class="m-0 pt-3">Plan parfait pour un dîner sain à la maison sans aucune difficulté.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="images/quotations-button.png" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Ismail Ben Haj Khalifa</strong></h5>
								<h6 class="text-dark m-0">Professeur de Marketing</h6>
								<p class="m-0 pt-3">Je viens de commencer à travailler, et Kool Healthy a sauvé mon régime. Merci infiniment</p>
							</div>
						</div>
						<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="sr-only">Next</span>
						</a>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Customer Reviews -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Téléphone</h4>
						<p class="lead">
							+216 52-680-290
						</p>
					</div>
				</div>
				<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							kool.healthy.contact@gmail.com
						</p>
					</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Localisation</h4>
						<p class="lead">
							5000, Monastir, Tunisia
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	
	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>à propos</h3>
					<p>Kool Healthy est un service de préparation de repas basé en Tunisie. Fondé en 2020 avec l'aide de: M. Sami Bhiri et OneDev</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Courriel</h3>
					<div class="subscribe_form">
						<button type="submit" class="submit" onclick="showDialogAbonnez()">Abonnez-Vous</button>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contact</h3>
					<p class="lead">Monastir</p>
					<p class="lead"><a href="#">+216 52 680 290</a></p>
					<p><a href="#"> kool.healthy.contact@gmail.com</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Suivez-Nous</h3>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="https://facebook.com/DahmaniMhd/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://linkedin.com/in/mohamed-hedi-dahmani/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://github.com/DahmaniDev"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://instagram.com/mohamedhedi.dahmani"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">Tous Droits Réservés &copy; 2020 <a href="#">Kool Healthy</a> Développé par : 
					<a href="https://github.com/DahmaniDev">DahmaniDev<i class="fa fa-github"></i></a></p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

	
	<script>
		function showDialogAbonnez() {
  			alert("Vous êtes abonné à notre courriel éléctronique ! Vous serez informés par chaque mise à jour");
		}
	</script>
</body>
</html>