<html>
<head>
<title>Kool Healthy PFE</title>
    <link rel="stylesheet" type="text/css" href="css/signin.css">
<body>
    <div class="loginbox">
    <img src="images/avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form>
            <p>E-mail</p>
            <input type="text" name="" placeholder="Enter E-mail">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="home">Login later?</a>
        </form>
        
    </div>

</body>
</head>
</html>